body {
    margin: 0;
    min-height: 100vh;
    background: linear-gradient(135deg, #fdbb2d 0%, #b21f1f 48%,  #1a2a6c 100%);
    font-family: Sedgwick Ave Display;
}
h1 {
    margin: 40px;
    text-align: center;
    font-size: 55px;
}
#bands {
    list-style: inside square;
    font-size: 25px;
    background: white;
    width: 450px;
    margin: auto;
    padding: 0;
    box-shadow: 0 0 0 20px rgba(0, 0, 0, 0.05);
}

#bands li {
    border-bottom: 1px solid #efefef;
}
#bands li:last-child {
    border-bottom: none;
}

a {
    color: #ffc600;
    text-decoration: none;
  }
